In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('AUDUSD-2000-2020-15m.csv')

In [5]:
df

                  DATE_TIME     HIGH      LOW     OPEN    CLOSE
0       2000.01.03 00:00:00  0.65740  0.65630  0.65630  0.65700
1       2000.01.03 00:15:00  0.65720  0.65700  0.65720  0.65700
2       2000.01.03 01:00:00  0.65850  0.65800  0.65800  0.65850
3       2000.01.03 01:15:00  0.65900  0.65850  0.65890  0.65850
4       2000.01.03 01:30:00  0.66020  0.65950  0.65950  0.66020
...                     ...      ...      ...      ...      ...
500022  2020.03.19 05:00:00  0.55519  0.55138  0.55518  0.55405
500023  2020.03.19 05:15:00  0.55528  0.55269  0.55406  0.55427
500024  2020.03.19 05:30:00  0.56336  0.55408  0.55427  0.55843
500025  2020.03.19 05:45:00  0.55907  0.55530  0.55846  0.55576
500026  2020.03.19 06:00:00  0.55812  0.55576  0.55576  0.55712

[500027 rows x 5 columns]

In [6]:
df.isnull().sum()

DATE_TIME    0
HIGH         0
LOW          0
OPEN         0
CLOSE        0
dtype: int64

In [7]:
df.notnull().sum()

DATE_TIME    500027
HIGH         500027
LOW          500027
OPEN         500027
CLOSE        500027
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500027 entries, 0 to 500026
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DATE_TIME  500027 non-null  object
 1   HIGH       500027 non-null  float64
 2   LOW        500027 non-null  float64
 3   OPEN       500027 non-null  float64
 4   CLOSE      500027 non-null  float64
dtypes: float64(4), object(1)
memory usage: 19.1+ MB

In [9]:
df.columns

Index(['DATE_TIME', 'HIGH', 'LOW', 'OPEN', 'CLOSE'], dtype='object')

In [10]:
df['DATE_TIME']

0         2000.01.03 00:00:00
1         2000.01.03 00:15:00
2         2000.01.03 01:00:00
3         2000.01.03 01:15:00
4         2000.01.03 01:30:00
                 ...
500022    2020.03.19 05:00:00
500023    2020.03.19 05:15:00
500024    2020.03.19 05:30:00
500025    2020.03.19 05:45:00
500026    2020.03.19 06:00:00
Name: DATE_TIME, Length: 500027, dtype: object

In [11]:
df.head(2)

             DATE_TIME    HIGH     LOW    OPEN  CLOSE
0  2000.01.03 00:00:00  0.6574  0.6563  0.6563  0.657
1  2000.01.03 00:15:00  0.6572  0.6570  0.6572  0.657

In [12]:
df.describe()

                HIGH            LOW           OPEN          CLOSE
count  500027.000000  500027.000000  500027.000000  500027.000000
mean        0.778912       0.778012       0.778462       0.778461
std         0.148241       0.148199       0.148221       0.148221
min         0.478200       0.477500       0.477700       0.477900
25%         0.695400       0.694500       0.694935       0.694930
50%         0.761870       0.761000       0.761430       0.761430
75%         0.895110       0.894150       0.894600       0.894600
max         1.107970       1.106700       1.107210       1.107200

## Data preprocessing

In [13]:
df.head(2)

             DATE_TIME    HIGH     LOW    OPEN  CLOSE
0  2000.01.03 00:00:00  0.6574  0.6563  0.6563  0.657
1  2000.01.03 00:15:00  0.6572  0.6570  0.6572  0.657

In [14]:
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME'])

In [15]:
df.head(2)

            DATE_TIME    HIGH     LOW    OPEN  CLOSE
0 2000-01-03 00:00:00  0.6574  0.6563  0.6563  0.657
1 2000-01-03 00:15:00  0.6572  0.6570  0.6572  0.657

In [16]:
df = df.set_index('DATE_TIME')

In [17]:
df.head(2)

                       HIGH     LOW    OPEN  CLOSE
DATE_TIME
2000-01-03 00:00:00  0.6574  0.6563  0.6563  0.657
2000-01-03 00:15:00  0.6572  0.6570  0.6572  0.657

In [18]:
df.index

DatetimeIndex(['2000-01-03 00:00:00', '2000-01-03 00:15:00',
               '2000-01-03 01:00:00', '2000-01-03 01:15:00',
               '2000-01-03 01:30:00', '2000-01-03 01:45:00',
               '2000-01-03 02:00:00', '2000-01-03 02:15:00',
               '2000-01-03 02:30:00', '2000-01-03 02:45:00',
               ...
               '2020-03-19 03:45:00', '2020-03-19 04:00:00',
               '2020-03-19 04:15:00', '2020-03-19 04:30:00',
               '2020-03-19 04:45:00', '2020-03-19 05:00:00',
               '2020-03-19 05:15:00', '2020-03-19 05:30:00',
               '2020-03-19 05:45:00', '2020-03-19 06:00:00'],
              dtype='datetime64[ns]', name='DATE_TIME', length=500027, freq=None)

In [19]:
df.index.dtype

dtype('<M8[ns]')

In [26]:
df[df.index.year == 2015].sum()

HIGH     18644.55847
LOW      18623.83095
OPEN     18634.08182
CLOSE    18634.05059
dtype: float64

## Basic Statistical Analysis